<!doctype html style="background-color:black;" class="bg-black">
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="canonical" href="{{ canonical_url }}">
  {%- include 'favicon' -%}

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  <title>
    {{ shop.name }} &ndash; {{ 'general.password_page.opening_soon' | t }}
  </title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
  
  {% include 'theme--social-meta-tags' %}
  {% include 'theme--fonts' %}
  {% include 'theme--css-variables' %}
  {% include 'script-tags', layout: 'theme' %}
  {% include 'style-tags', layout: 'theme' %}
  

  {%- comment -%} Initial theme object {%- endcomment -%}
  {% include 'theme--data-scripts' %}

  {{ content_for_header }}

  <noscript>
  For full functionality of this site it is necessary to enable JavaScript.
  Here are the <a href="https://www.enable-javascript.com/">
  instructions how to enable JavaScript in your web browser</a>.
  </noscript>
</head>



{%- comment -%} Body {%- endcomment -%}
<body class="template-password">

  <div class="password-page">
    <main id="MainContent" class="password-main center" role="main" style="padding:0">
      <div class="password-main__inner tc">
        {{ content_for_layout }}
      </div>
    </main>
  </div>

  {% section 'layout--modal' %}

  <script>
    console.log('password.liquid');
    console.log('window.theme', window.theme)
  </script>

</body>
</html>