{% form 'reset_customer_password' %}
  {%- capture account_form_data -%}
    {"form_errors":[
      {%- if form.errors -%}{%- for error in form.errors -%}
        {%- if forloop.first != true %},{% endif -%}
        {{ form.errors | default_errors | strip_html | json }}
      {%- endfor -%}{%- endif -%}
    ]}
  {%- endcapture -%}
{% endform %}

<section
  class="section-account-login" 
  data-section-type="account-reset"
  data-section-id="{{ section.id }}" 
  data-vue-settings="{{ section.settings | json | url_escape }}"
  data-vue-theme="{{ section.settings.section_theme | json | url_escape }}"
  data-vue-form-data="{{ account_form_data | url_escape }}">
  {%comment%}<div class="bg-yellow page-width">{{ account_settings }}</div>{%endcomment%}
  {%comment%}<div class="bg-yellow page-width">{{ account_form_data }}</div>{%endcomment%}
  <div id="vue-account-reset"></div>
</section>


{% schema %}
{
  "name": {
    "en": "Reset Settings"
  },
  "settings": [
    {
      "type": "select",
      "id": "section_theme",
      "label": {
        "en": "Color theme (todo)"
      },
      "default": "light",
      "options": [
        {
          "value": "light",
          "label": {
            "en": "Light Background"
          }
        },
        {
          "value": "light-alt",
          "label": {
            "en": "Alt Light Background"
          }
        },
        {
          "value": "dark-alt",
          "label": {
            "en": "Alt Dark Background"
          }
        },
        {
          "value": "dark",
          "label": {
            "en": "Dark background"
          }
        }
      ]
    }
  ]
}
{% endschema %}
